body {
    margin: 0;
    font-family: Arial,
}

.baner {
    background-color: #cc9966;
    color: white;
    text-align: center;
    padding: 20px;
}

.menu {
    background-color: #32CD32;
    color: white;
    text-align: center;
    width: 150px;
    padding: 20px;
    float: left;
}

.content {
    background-color: #ffff33;
    color: black;
    padding: 20px;
    margin-left: 150px;
    min-height: 200px;
}

.stopka {
    background-color: #990033;
    color: white;
    text-align: center;
    padding: 20px;
    clear: both;
}